

@font-face {
	font-family: "Proxima Nova Regular";
	src: url(00e2fc72fb5ef844e5b551084c457860.eot);
	src: url(00e2fc72fb5ef844e5b551084c457860.eot#iefix) format("embedded-opentype"),
	url(9b6ce0ea9fc5423658c5fa4cb9e16371.woff) format("woff"),
	url(d49742d9b24301b494882b0826f16fd6.ttf) format("truetype"),
	url(58fb66bfe136dd3643b02ca104e34f90.svg#ProximaNovaRegular) format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Light";
	src: url(b3a6ef6a985371fdb5230a87195b72f0.eot);
	src: url(b3a6ef6a985371fdb5230a87195b72f0.eot#iefix) format("embedded-opentype"),
    url(0f8fab28d191d821e920190a1bd628e5.woff) format("woff"),
    url(e8f73b338474e1e242b1ace77b1edac3.ttf) format("truetype"),
    url(72558f65d8766f6cdec7f9e7d91a989a.svg#ProximaNovaLight) format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova SemiBold";
	src: url(03502f75fb1138c3ca1a1dfeb53f9514.eot);
	src: url(03502f75fb1138c3ca1a1dfeb53f9514.eot#iefix) format("embedded-opentype"),
	url(27be2c522244c26d3e28f9178dd891ad.woff) format("woff"),
	url(e414f3b027a7c2309b29b4d47a37db68.ttf) format("truetype"),
	url(abfff66924902fc53cbfb61461043c70.svg#ProximaNovaBold) format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Bold";
	src: url(f06ba889071475a26f168caee47c5134.eot);
	src: url(f06ba889071475a26f168caee47c5134.eot#iefix) format("embedded-opentype"),
	url(b2f62d815f965aade01935cbb09a008a.woff) format("woff"),
	url(551f74038960ee93bdc3307133f54e1b.ttf) format("truetype"),
	url(1580de87484f29b8137af930f0a4cdf0.svg#ProximaNovaBold) format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova ThinT";
	src: url(9dba46d9025ae92e54563eddb49b7c60.eot);
	src: url(9dba46d9025ae92e54563eddb49b7c60.eot#iefix) format("embedded-opentype"),
    url(c2cd6c809828b2c8ac76942bd279e6bd.woff) format("woff"),
    url(1ea46c97926789b7775766ef4661796b.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Black";
	src: url(b11fc24fa6f9d3e806b56dc0cec04faf.eot);
	src: url(b11fc24fa6f9d3e806b56dc0cec04faf.eot?#iefix) format('embedded-opentype'),
	url(330fc88c58f590c33f9b429e8a90adc5.woff) format('woff'),
	url(427d517e4548ac0268b532fa9a579230.ttf) format('truetype'),
	url(b6685f7c831ef34079695f576596d4b2.svg#proxima_novablack) format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova BlackIt';
	src: url(83cf21598a129181ad9ecf0e525312e9.eot);
	src: url(83cf21598a129181ad9ecf0e525312e9.eot?#iefix) format('embedded-opentype'),
	     url(ce08d17dc5eb9794e17212a1687e3304.woff2) format('woff2'),
	     url(25f7e79f492e324c2d9739d1e811cccc.woff) format('woff'),
	     url(b42c212753cd57ae91d0f2c0c05bf1ca.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
    
@font-face {
    font-family: 'Proxima Nova ExtraBld';
    src: url(f12f3eb26013faee8f2a734186164f14.eot);
    src: url(f12f3eb26013faee8f2a734186164f14.eot?#iefix) format('embedded-opentype'),
         url(b6462684dc787d68e6c7fc847429efde.woff2) format('woff2'),
         url(91c70b8cbabcfd8d2c906059aa6de34a.woff) format('woff'),
         url(ceea53f550e7cf7ae76e999d61887dbe.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: Oswald;
	src: url(fbb38944ca78ff35c389949177c0a6fa.eot);
	src: url(fbb38944ca78ff35c389949177c0a6fa.eot#iefix) format("embedded-opentype"),
	url(737032b8b0180543aaa725c70ba5f4fe.woff) format("woff"),
	url(2a3e4342201d314bd5199fcabaa64f48.ttf) format("truetype"),
	url(5aa92e84d33576012cbce9b19f4e7ce8.svg#Oswald) format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Museo Slab 300 Italic";
	src: url(59469075a153d8f650e4ded0946044d1.eot);
	src: url(59469075a153d8f650e4ded0946044d1.eot#iefix) format("embedded-opentype"),
	url(57d41be681fb5e5f673ce97ad05f1124.woff) format("woff"),
	url(46cbb2e905cd475c983d6043560dd338.ttf) format("truetype"),
	url(86ec938a31af4964c7875fc9aabfd018.svg#MuseoSlab300Italic) format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Museo Slab 500 Italic";
	src: url(b8d78da643ea4c0807bb2468652984a6.eot);
	src: url(b8d78da643ea4c0807bb2468652984a6.eot#iefix) format("embedded-opentype"),
	url(050464eaada85958e3e5fe53dd704baf.woff) format("woff"),
	url(a8a3045c760bd06fcbc9378bc71230d7.ttf) format("truetype"),
	url(492c4257638de0180022a47d28d7cffd.svg#MuseoSlab500Italic) format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Museo Slab 700";
	src: url(9628ab1b684edbd61326932f55d036f9.eot);
	src: url(9628ab1b684edbd61326932f55d036f9.eot#iefix) format("embedded-opentype"),
	url(8d4cb50856a27ba1fcfb9c0f3ac4536b.woff) format("woff"),
	url(208295b07974c46f6871f7bf479fd559.ttf) format("truetype"),
	url(37281872aae12d1ff2f62ec31cfd9a56.svg#MuseoSlab700) format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Museo Slab 900";
	src: url(e67b7aa6aead0c8b95136a55296dd1c8.eot);
	src: url(e67b7aa6aead0c8b95136a55296dd1c8.eot#iefix) format("embedded-opentype"),
	url(11ce19334ae2b8aeda4920831f85282a.woff) format("woff"),
	url(7ceb111bdc96faed9a40088077ef3cc3.ttf) format("truetype"),
	url(ebf88d41f1dd2300a2aab2c6673f8cbe.svg#MuseoSlab900) format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lucida Grande Bold";
	src: url(1e811f1edda7de620cebb15cf7b44c47.eot);
	src: url(1e811f1edda7de620cebb15cf7b44c47.eot#iefix) format("embedded-opentype"),
	url(4f46c6b07527bc1de7449d8258906b87.woff) format("woff"),
	url(f05054b1483950a3e3e9639f097c133d.ttf) format("truetype"),
	url(ceb67fbc709c0f8641bf5ffe5a17941f.svg#LucidaGrandeBold) format("svg");
	font-weight: normal;
	font-style: normal;
}

/*# sourceMappingURL=weightsite.site.web.css.fonts_all.css.50bbcad851acd9bcf83f39c47a549fb5.css.map*/